Figure_Generation
AudioMAE
Depth-Anything-V2
Generate_Rain
Old_Files
*.pth
*.pt
**/logs/
**/log*/
*.pickle
**/test_datasets/
*.png
# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
__pycache__/